@font-face {
    font-family: 'Bitter';
    src: url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
}

html, body {
    height: 100%;
    margin: auto auto 1000px;
    background-color: #292826;
    /*background-image: linear-gradient(to bottom right, #1F1E1D, #292826);*/
    overflow-y: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

#intro-sub-container {
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    animation: float-up ease .5s 0.25s
}

#header {
    height: 19vh;
    width: 100%;
    background-color: #063E94;
    box-shadow: 0 5px 15px black;
    position: fixed;
    top:0;
    opacity: 0;
}

#title {
    /*Text*/
    font-family: Bitter, serif;
    display: block;
    font-size: 3em;

    /*Animation*/
    animation: fade-in .5s 0s;
    animation-fill-mode: forwards;
    margin: -7px 0;
}

#title::after {
    display: block;
    content: "";
    border-bottom: 5px solid #A8A49D;
    transform: scaleX(0);
    animation: border-line-out .5s .85s;
    animation-fill-mode: forwards;
    border-radius: 100px;
}

#subtitle {
    /*Text Formatting*/
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .75em;

    /*Animation Stuff*/
    opacity: 0;
    animation: fade-in .5s 1.10s;
    animation-fill-mode: forwards;

    text-align: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes float-up {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, -37px);
    }
}

@keyframes border-line-out {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes transition-title {
    from {
        translate(0, -37px);
    }
    to {
        translate(0, -65%);
    }
}

/*Screen adjustment stuff
================================================================*/
@media only screen and (min-width: 1920px) {
    #title {
        font-size: 12rem;
    }

    #subtitle {
        font-size: 2.33rem;
    }
}

@media only screen and (max-width: 1920px) {
    #title {
        font-size: 9rem;
    }

    #subtitle {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1440px) {
    #title {
        font-size: 6em;
    }

    #subtitle {
        font-size: 1.67em;
    }
}

@media only screen and (max-width: 1440px) {
    #title {
        font-size: 7em;
    }

    #subtitle {
        font-size: 1.33em;
    }
}

@media only screen and (max-width: 1080px) {
    #title {
        font-size: 6em;
    }

    #subtitle {
        font-size: 1.125em;
    }
}

@media only screen and (max-width: 780px) {
    #title {
        font-size: 4.5em;
    }

    #subtitle {
        font-size: 1em;
    }
}


@media only screen and (max-width: 560px) {
    #title {
        font-size: 3.5em;
    }

    #subtitle {
        font-size: .85em;
    }
}