@font-face {
    font-family: 'Bitter';
    src: url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
}

body {
    background-image: linear-gradient(to bottom right, #1F1E1D, #292826);
}

html, body {
    height: 100%;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

#intro-sub-container {
    animation: float-up .75s 0.5s;
    animation-fill-mode: forwards;
    transition: 0.25s ease-in-out;
    color: #FFFFFF;
}

#intro-sub-container:hover {
    filter: brightness(80%);
    transform: scale(1.025);
    transition: filter .25s ease-in-out, transform .25s ease-in-out;
    cursor: pointer;
}

#title {
    /*Text*/
    font-size: 9vw;
    font-family: Bitter, serif;
    display: block;

    /*Animation*/
    animation: fade-in 1s 0s;
    animation-fill-mode: forwards;
    margin: -5px 0;
}

.subtitle {
    /*Text Formatting*/
    font-size: 2vw;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;

    /*Animation Stuff*/
    opacity: 0;
    animation: fade-in 1s 2s;
    animation-fill-mode: forwards;

    text-align: center;

}

#title::after {
    display: block;
    content: "";
    border-bottom: 5px solid #808080;
    transform: scaleX(0);
    transition: transform 1s ease-in-out;
    animation: magic-line .75s 1.65s;
    animation-fill-mode: forwards;
    border-radius: 100px;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes float-up {
    from {
        margin: 0 0 0;
    }

    to {
        margin: 0 0 75px;
    }
}

@keyframes magic-line {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}