@font-face {
    font-family: 'Bitter';
    src: url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
}

:root {
    --current-device-width: 100vw;
    --ideal-viewport-width: 1707;
    --minimum-viewport-width: 780;
}

html, body, main {
    height: 100%;
    margin: auto;
    background-color: #292826;
    overflow-y: hidden;
    bottom: 100px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
}

#intro-sub-container {
    color: #FFFFFF;
    user-select: none;

    position: fixed;
    height: auto;
    z-index: 100;
}

#header {
    height: 120px;
    width: 100%;
    background-color: #063E94;
    box-shadow: 0 5px 15px black;
    top:-120px;
    opacity: 0;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 99;

    animation: fade-in-from-top .5s .45s forwards;
}

#title {
    --ideal-font-size: 144;
    /*Text*/
    font-family: Bitter, serif;
    display: block;
    font-size: max(calc(var(--ideal-font-size) * (var(--current-device-width) / var(--ideal-viewport-width))), 63px);

    /*Animation*/
    animation: fade-in 1s 0s;
    animation-fill-mode: forwards;
    margin: -7px 0;
}

#title::after {
    display: block;
    content: "";
    border-bottom: 5px solid #A8A49D;
    transform: scaleX(0);
    animation: border-line-out .5s .35s;
    animation-fill-mode: forwards;
    border-radius: 100px;
}

#subtitle {
    --ideal-font-size: 32;

    /*Text Formatting*/
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: max(calc(var(--ideal-font-size) * (var(--current-device-width) / var(--ideal-viewport-width))),14px);

    /*Animation Stuff*/
    opacity: 0;
    animation: fade-in .5s .6s;
    animation-fill-mode: forwards;

    text-align: center;
}

#scroll-down {
    bottom: 2.5em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

#scroll-down svg {
    height: 3em;
    width: 3em;
}

#scroll-down path {
    fill: #A8A49D;
    opacity: 0.75;
    transition-duration: 0.2s;
    transition-property: fill, opacity;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

#scroll-down:hover path {
    fill: #4D94FF;
    opacity: 0.95;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-title {
    --ideal-font-size: 100;
    /*Text*/
    color: #FFFFFF;
    font-family: Bitter, serif;
    display: block;
    font-size: max(calc(var(--ideal-font-size) * (var(--current-device-width) / var(--ideal-viewport-width))), 63px);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes border-line-out {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes explode {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(5);
    }
}

@keyframes fade-in-from-top {
    from {
        top: -120px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}